<%
function dynamicSort(property) {
  var sortOrder = 1;
  if(property[0] === "-") {
      sortOrder = -1;
      property = property.substr(1);
  }
  return function (a,b) {
      var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
      return result * sortOrder;
  }
}

appointments.sort(dynamicSort(sort))

%>

<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  </div>
  <%- include('partials/header.html'); %>
   <div id="content">
      <div id="all-appointment-list">
        <h3>All Appointments:</h3>
        <form action="/apptlist" method="post" id="sort-form">
          <label for="sort">Sort Method: </label>
          <select name="sort" id="sortSelect" onchange="document.getElementById('sort-form').submit();">
            <option value="doc_id" <% if (sort == "doctor_id") {%> selected <% } %> >Doctor</option>
            <option value="patient_id" <% if (sort == "patient_id") {%> selected <% } %> >Patient</option>
            <option value="room_id" <% if (sort == "room_id") {%> selected <% } %> >Room</option>
            <option value="time" <% if (sort == "time") {%> selected <% } %> >Time</option>
          </select>
        </form>
        <% appointments.forEach(function(appointment) { 
          const datetime = new Date(appointment.time * 1000);
          %>
          <form action="/apptmod" method="post" id="<%= appointment.appt_id %>-form">
          <input type="hidden" id="appt_id" name="appt_id" value="<%= appointment.appt_id %>">
          <div class="appointment" onclick="document.getElementById('<%= appointment.appt_id %>-form').submit();"> 
            <br>
            Patient: <%= appointment.patient_surname%>, <%= appointment.patient_givenname %> <br>
            Doctor: <%= appointment.doc_surname%>, <%= appointment.doc_givenname %> <br>
            Room: <%= appointment.room_number%> <br>
            Time: <%= datetime.toLocaleString() %> <br>
          </div>
          </form>
        <% }); %> 
      </div>
    </div>
</body>
<footer>
  <div id="copyright">&copy; CareWare 2022</div>
</footer>

</html>