<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  </div>
  <%- include('partials/header.html'); %>
   <div id="content">
      <div id="all-appointment-list">
        <h3>All Appointments:</h3>
        <% appointments.forEach(function(appointment) { 
          const datetime = new Date(appointment.time * 1000);
          %>
          <div class="appointment"> 
            <br>
            Patient: <%= appointment.patient_surname%>, <%= appointment.patient_givenname %> <br>
            Doctor: <%= appointment.doc_surname%>, <%= appointment.doc_givenname %> <br>
            Room: <%= appointment.room_number%> <br>
            Time: <%= datetime.toLocaleString() %> <br>
          </div>
        <% }); %> 
      </div>
    </div>
</body>
<footer>
  <div id="copyright">&copy; CareWare 2022</div>
</footer>

</html>