<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/header.html'); %>
   <div id="content">
      <div id="appointment-list">
        <h3>Upcoming Appointments:</h3>
        <% appointments.forEach(function(appointment) { 
          const datetime = new Date(appointment.time * 1000);
          %>
          <form action="/apptmod" method="post" id="<%= appointment.appt_id %>-form">
            <input type="hidden" id="appt_id" name="appt_id" value="<%= appointment.appt_id %>">
            <div class="appointment" onclick="document.getElementById('<%= appointment.appt_id %>-form').submit();"> 
              Patient: <%= appointment.patient_surname%>, <%= appointment.patient_givenname %> <br>
              Doctor: <%= appointment.doc_surname%>, <%= appointment.doc_givenname %> <br>
              Room: <%= appointment.room_number%> <br>
              Time: <%= datetime.toLocaleString() %> <br>
            </div>
          </form>
        <% }); %> 
      </div>
    </div>
</body>
<footer>
  <div id="copyright">&copy; CareWare 2022</div>
</footer>

</html>