<!DOCTYPE html>
<html>
  <head>
    <img src = "logo.png" alt="logo image" id="logo">
    <link rel='stylesheet' href='style.css' />
    <ul>
      <li><a href="#index">Home</a></li>
      <li><a href="#appointment">Schedule Appointment</a></li>
      <li><a href="#schedulue">Physician Schedule</a></li>
      <li><a href="#records">Patient Records</a></li>
    </ul>
  </head>
  <body>

    <h1>CareWare</h1>
    <h2>Practical Solutions</h2>

    <!--  <%- include('partials/header.html'); %>  -->

    <div id="content">
      <div id="appointment-list">
        <% appointments.forEach(function(appointment) { %>
          <li> ID:<%= appointment.patient_id %> Time:<%= appointment.time %></li>
        <% }); %> 
      </div>
    </div>

    <%- include('partials/footer.html'); %>

  </body>
</html>