<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/loginheader.html'); %>
    <div id="content">
      <form action="/login" method="post">
        <label for="usernameField">username: </label>
        <input type="text" id="usernameField" name="username">
        <br>
        <label for="passwordField">password: </label>
        <input type="password" id="passwordField" name="password">
        <br>
        <button type="submit">login</button>
      </form>
    </div>
</body>
<%- include('partials/footer.html'); %>

</html>