<% if (typeof error == 'string' && error) { %>
    <p><%= error %></p>
<% } %>
<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<%- include('partials/header.html'); %>
<form action="/newappt" method="post">
    <label for="patientField">Patient Name: </label>
    <select name="patient" id="patientField">
        <% patients.forEach(function(patient) { %>
            <option value="<%= patient.patient_id %>"><%= patient.patient_surname %>, <%= patient.patient_givenname %></option>
        <% }); %> 
    </select>
    <br>
    <label for="doctorField">Doctor: </label>
    <select name="doctor" id="doctorField">
        <% doctors.forEach(function(doctor) { %>
            <option value="<%= doctor.doc_id %>"><%= doctor.doc_surname %>, <%= doctor.doc_givenname %></option>
        <% }); %> 
    </select>
    <br>
    <label for="roomField">Room: </label>
    <select name="room" id="roomField">
        <% rooms.forEach(function(room) { %>
            <option value="<%= room.room_id %>"><%= room.room_number %></option>
        <% }); %> 
    </select>
    <br>
    <label for="datetimeField">Date/Time: </label>
    <input type="datetime-local" id="datetimeField" name="time">
    <br>
    <button type="submit">Submit</button>
</form>
</body>
<%- include('partials/footer.html'); %>

</html>