<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  </div>
  <%- include('partials/header.html'); %>
   <div id="content">
      <div id="records-list">
        <h3>All records for patient: <%= records[0].patient_surname %>, <%= records[0].patient_givenname %></h3>
        <% records.forEach(function(record) { %>
          <div class="record"> 
            <br>
            Note: <%= record.note %> <br>
          </div>
        <% }); %> 
      </div>
    </div>
</body>
<%- include('partials/footer.html'); %>

</html>