<% if (typeof error == 'string' && error) { %>
    <p><%= error %></p>
<% } %>
<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  </div>
  <%- include('partials/header.html'); %>
<form action="/recreq" method="post">
    <label for="patientField">Select a patient: </label>
    <select name="patient" id="patientField">
        <% patients.forEach(function(patient) { %>
            <option value="<%= patient.patient_id %>"><%= patient.patient_surname %>, <%= patient.patient_givenname %></option>
        <% }); %> 
    </select>
    <button type="submit">Submit</button>
</form>

<%- include('partials/footer.html'); %>
</html>