body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkgray;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}


a {
  color: #00B7FF;
}

header {
  height: 200px;
  width: 100%;
  margin: 0px;
  background-color: gray;
}

div > #logo {
  float: left;
}

div > #navmenu {
  float:right;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div > #navmenu > a {
  font-size: 28px;
  color: darkblue;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

div#content {
  margin-left: 25px;
}

#appointment-list {
  height: 600px;
  width: 500px;
  padding: 25px;
  margin-top: 25px;
  border: 1px;
  border-color: black;
  border-style: dashed;
}

.appointment {
  background-color: azure;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  margin: 0px;
  background-color: gray;
  margin-top: auto;
}
