body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}


a {
  color: #00B7FF;
}

header {
  height: 200px;
  width: 100%;
  margin: 0px;
  background-color: teal;
}

div > #logo {
  float: left;
}

div > #navmenu {
  float:right;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div > #navmenu > a {
  font-size: 28px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

#content {
  width: 500px;
  font-size: 20px;
  padding: 25px;
  margin-top: 25px;
  margin: 0 auto;
}

.appointment {
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0px;
  background-color: teal;
  margin-top: auto;
}
